<div id="root">
    <div class="" id="container">
        <div><h1>Password Recovery</h1></div>
        <p>Enter your email below to recovery your account</p>
        
        <label for="">Email</label>
        <div >
            <input class="form-control" placeholder="Email" type="email" textContent="example@gmail.com" [(ngModel)]="email" requeried>
        </div>

        <div id="container-buttons">
            <button class="btn btn-dark" (click)="confirm()">Confirm</button>
            <button class="btn btn-dark"><a routerLink="/">Cancel</a></button>
        </div>




    </div>





</div>