<div id="root">
    <div class="form-control" id="container">
        <div>
            <h1>Account setting</h1>
            <p>Enter the following fields to register</p>
        </div>
        <div>
            <div class="text-center" class="rounded-circle d-flex justify-content-center">
                <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714166700/unilocal/perfil_tcaium.gif" onclick="document.getElementById('real-file').click()">
                <input  type="file" id="real-file" style="display: none;">
            </div>
        </div>
        <label for="">Name</label>
        <div >
            <input type="text" class="form-control" placeholder="Name" required>
            <div class="invalid-feedback" hidden >
                This field is required
            </div>
        </div>
        <div>
            <label for="">City of residence</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected disabled>Choose...</option>
                <option value="Pereira">Pereira</option>
                <option value="Manizales">Manizales</option>
                <option value="Armenia">Armenia</option>
                <option value="Salento">Salento</option>
                <option value="Filandia">Filandia</option>
                <option value="Quimbaya">Quimbaya</option>
            </select>
            <div class="invalid-feedback" hidden>
                This field is required
            </div>
        </div>
        <div>
            <button class="form-control">Delete account</button>
        </div>
        <div class="container-fluid d-grid" style="grid-template-columns: 2.5fr 2.5fr; grid-column-gap: 20px;">
            <button class="form-control">Save</button>
            <button class="form-control">Cancel</button>
        </div>
    </div>
</div>