#root{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container div{
    display: block;
    justify-content: center;
    align-items: center;
}
#container{
    width: 300px; 
    border: 1px solid black;
    padding: 1.5%;
    margin: 2% 0 2% 0;
    
}
#container div{
    margin: 5% 0 5% 0;
}
#container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-buttons button{
    margin: 0 5% 0 5%;
    border: 1px solid black;
    width: 200px;
}
#forgot{
    align-content: center;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}
img:hover{
    opacity: 50%;
}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    background-color: black;
    color: white;
}