
.header{
    margin-bottom: 10px;
}
.ejemplo{
    height: 500px;
}
.cont{
    display: flex;
}
.slide-bar-my{
    grid-template-columns: 100px 3.5fr;
}
.slide-bar-my:hover{
    grid-template-columns: 200px 3.5fr;
}
.modal-createList{
    border-radius: 18px;
    background-color: yellow;
}