<div id="root">
    <div class="" id="container">
        <div><h1>Change Password</h1></div>
        <p>Enter your new password below to recovery your account</p>
        
        <label for="">Password</label>
        <div >
            <input class="form-control" placeholder="new password" type="password" [(ngModel)]="password" [ngClass]="{' is-invalid':verifyPass}" requeried>
        </div>
        <label for="">Comfirm Password</label>
        <div >
            <input class="form-control" placeholder="Confirm new password" type="password"  [(ngModel)]="confirmPassword" [ngClass]="{'is-invalid':verifyConPass}" requeried>
        </div>
        <div class="alert alert-danger" role="alert" [hidden]="!viewAlert">
            {{message}}
          </div>
        <div id="container-buttons">
            <button class="btn btn-light" (click)="changePassword()">Confirm</button>
            <button class="btn btn-light" (click)="cancel()">Cancel</button>
        </div>
    </div>
