<div class="container">
    <h1 class="title">Create List</h1>
    <div class="text">Press the new button to create a new list.</div>
    <div>List</div>
    <ul class="list-group">
        <li class="list-group-item">Apps</li>
        <li class="list-group-item">Games</li>
        <li class="list-group-item">Movies</li>
        <li class="list-group-item">Books</li>
        <li class="list-group-item">Newspapers</li>
    </ul>
    <input type="text" class="form-control" id="list-name" placeholder="Name">
    <div class="container-buttons">
        <button type="button" class="btn btn-dark" id="new-button">New</button>
        <button type="button" class="btn btn-dark" (click)="close()">Exit</button>
    </div>
</div>