<div class="flex-shrink-0 p-3 bg-white" style="width: 280px; min-height: 575px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <img class="my-rotate" src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714243776/unilocal/assets/opciones_fnz5du.gif" alt="" width="30px" height="30px">
    <span class="fs-5 fw-semibold">Settings</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714235755/unilocal/assets/hogar_ijny9r.gif" alt="" width="30px" height="30px"><a routerLink="/home/list-business">Home</a>
      </button>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714236314/unilocal/assets/camino_l1iups.gif" alt="" width="30px" height="30px"><a routerLink="/home/map">Map</a>
      </button>
    </li>
    <li class="mb-1">
      <div class="contenedor">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#business-collapse" aria-expanded="false">
          <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1715111390/tienda_trfogs.gif" alt="" width="30px" height="30px">My Business
        </button>
        <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
        <button type="button" class="btn-close botones"></button>
      </div>
      <div class="collapse ejemplo2" id="business-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li class="ejemplo">Create Business</li>
          <li class="ejemplo" *ngFor="let index of business; let i =index" >
              {{index.name}}
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714236467/unilocal/assets/corazon_outem8.gif" alt="" width="30px" height="30px">My favorites
      </button>
      <div class="collapse ejemplo2" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <div class="contenedor">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#list-collapse" aria-expanded="false">
          <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714236704/unilocal/assets/marcador_lnvgrc.gif" alt="" width="30px" height="30px">My list
        </button>
        <button type="button" class="btn-close botones" aria-label="Close" (click)="openCreateList()"></button>
      </div>
      <div class="collapse ejemplo2" id="list-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714237469/unilocal/assets/evento_dtoum0.gif" alt="" width="30px" height="30px">My events
      </button>
      <div class="collapse ejemplo2" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#reservation-collapse" aria-expanded="false">
        <img src="https://res.cloudinary.com/dybshhtw1/image/upload/v1714241893/unilocal/assets/campana-del-hotel_jtkwbs.gif" alt="" width="30px" height="30px">My reservations
      </button>
      <div class="collapse ejemplo2" id="reservation-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>