
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title fs-5" id="staticBackdropLabel">{{ data.title }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p>{{ data.content }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark " (click)="close()">Cancel</button>
    <button type="button" class="btn btn-dark" (click)="signOut()">Accept</button>
  </div>
</div>
